body {
	min-height: 100vh;
	padding: 10%;
}
._dot {
	position: absolute;
	border-radius: 50%;
	height: 7px;
	width: 7px;
	&--yellow { background: rgb(248, 231, 28); }
	&--green { background: rgb(126, 211, 33); }
	&--red { background: rgb(212, 56, 79); }
	&--blue { background: rgb(128, 185, 254); }
	&--orange { background: rgb(245, 166, 35); }
	&--purple { background: rgb(212, 65, 208); }
}